@page "/secrets/details/{id}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using web
@inject keyvault.web.services.SecretService _secretService;
@inject NavigationManager NavManager

@attribute [Authorize]
<h1>Blazor is @id!</h1>

@code {
    [Parameter]
    public string id { get; set; }

    private SecretDetailsViewModel secretModel;
    protected override async Task OnInitializedAsync()
    {
        try 
        {
            secretModel = await _secretService.Get(id);
        }
        catch(AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch(Exception e)
        {
            throw e;
        }

    }

}